<mat-card class="weather-card">
  <mat-card-header>
    <mat-card-title>{{ cityName }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="weather-content">
    <div *ngIf="loading" class="spinner-container">
      <mat-spinner color="accent" diameter="150"></mat-spinner>
    </div>

    <div *ngIf="!loading">
      <div class="temperature">
        <h1>{{ currentWeather?.current?.temperature_2m }}°C</h1>
      </div>

      <img *ngIf="currentWeather?.current?.weathercode === 0" src="../assets/weather_ico/0.png" height="150px">
      <img *ngIf="currentWeather?.current?.weathercode >= 1 && currentWeather?.current?.weathercode <= 2" src="../assets/weather_ico/1_2.png" height="150px">
      <img *ngIf="currentWeather?.current?.weathercode >= 3 && currentWeather?.current?.weathercode <= 4" src="../assets/weather_ico/3_4.png" height="150px">
      <img *ngIf="currentWeather?.current?.weathercode >= 5 && currentWeather?.current?.weathercode <= 6" src="../assets/weather_ico/5_6.png" height="150px">
      <img *ngIf="currentWeather?.current?.weathercode >= 7 && currentWeather?.current?.weathercode <= 8" src="../assets/weather_ico/7_8.png" height="150px">
      <img *ngIf="currentWeather?.current?.weathercode === 9" src="../assets/weather_ico/9.png" height="150px">

      <div class="weather-info" style="margin-bottom: 2rem;">
        <span>{{ currentWeather?.current?.wind_speed_10m }} km/h Wind</span>
        <span>{{ currentWeather?.hourly?.relative_humidity_2m[0] }}% Humidity</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="hourly-card">
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner style="margin-left: 20rem;" diameter="80"></mat-spinner>
  </div>

  <!-- Elemento 1: Primer prenda de ropa -->
  <div *ngIf="!loading" class="hourly-item">
    <span class="material-icons" [ngClass]="clothingSuggestions[0]">
      {{ clothingSuggestions[0] }}
    </span>
  </div>

  <!-- Elemento 2: Segunda prenda de ropa -->
  <div *ngIf="!loading" class="hourly-item">
    <span class="material-icons" [ngClass]="clothingSuggestions[1]">
      {{ clothingSuggestions[1] }}
    </span>
  </div>

  <!-- Elemento 3: Tercer prenda de ropa -->
  <div *ngIf="!loading" class="hourly-item">
    <span class="material-icons" [ngClass]="clothingSuggestions[2]">
      {{ clothingSuggestions[2] }}
    </span>
  </div>

  <!-- Elemento 4: Cuarta prenda de ropa -->
  <div *ngIf="!loading" class="hourly-item">
    <span class="material-icons" [ngClass]="clothingSuggestions[3]">
      {{ clothingSuggestions[3] }}
    </span>
  </div>
</div>

